
.footer {
	width: 100%;
	height: 100%;
	margin: 75px 0px 75px 0px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#squeeze {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#title {
	font-size: 36px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight: lighter;
}

#sub-text {
	margin-top: 20px;
	font-size: 20px;
	font-weight: lighter;
	font-family: 'Lato', sans-serif;
	text-align: center;
	line-height: 1.5;
}

#footer-btn {
	height: 50px;
	width: 300px;
	border: none;
	border-radius: 3px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	margin-top: 30px;
}

#link-count {
	margin-top: 100px;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

#link-count-text {
	margin-top: 20px;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}