.whole-page {
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.top {
	width: 100%;
	height: 500px;
	background: linear-gradient(rgba(24, 32, 97, .7), rgba(24, 32, 97, .7)), 
	url(../assets/background.jpg); 
  	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

.bottom {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}