.bottom-fixed {
	position: absolute; top: 600; left: 600;
	width: 100%; 
	min-height: calc(100% - 600px);
	height: 600px;
	display: flex;
	flex-direction: row;
}

.third {
	background-color: #f9f9f9;
 	width: 33%;
 	height: 100%;
 	overflow: hidden;
 	overflow-y:auto
}

.two-thirds {
	padding: 40px 40px 40px 40px;
 	width: 66%;
 	font-family: 'Lato', sans-serif;
 	font-weight: lighter;
 	overflow: hidden;
}

#date {
	font-size: 12px;
	margin-bottom: 5px;
}

#main-link {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	margin-right: 40px;
	max-width: 90%;
	width: auto;
	border-bottom: 1px solid white;
}

.selected-link {
	background-color: white;
}

.linky {
	font-weight: lighter;
}

.linky:hover {
	color: #f4b504;
}

.one-line {
	margin-top: 14px;
	display: flex;
	flex-direction: row;
}

.copy-btn-active {
	width: 50px;
	height: 20px;
	color: #f4b504;
	border: 1px solid #f4b504;
	border-radius: 3px;
	font-size: 12px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 15px;
	transition: background-color 0.1s, border 0.1s, color 0.1s;
}

.copy-btn-active:hover {
	transition: background-color 0.1s, border 0.1s, color 0.1s;
	background-color: #f4b504;
	border: 1px solid #f4b504;
	color: white;
}

.copy-btn-not-active {
	visibility: hidden;
}

#clicks {
	margin-top: 15px;
	font-size: 12px;
}

.delete-btn-active {
	width: 80px;
	height: 30px;
	margin-top: 15px;
	border: 1px solid #182061;
	color: #182061;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 12px;
	transition: background-color 0.1s, border 0.1s, color 0.1s;
}

div.delete-btn-active:hover {
	transition: background-color 0.1s, border 0.1s, color 0.1s;
	background-color: #182061;
	border: 1px solid #182061;
	color: white;
}

.delete-btn-not-active {
	visibility: hidden;
}

.whole-list {
	display: flex;
	flex-direction: column;
}

.sort-by {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-right: 40px;
	cursor: pointer;
}

.sort-by-img {
	width: 25px;
	height: 16px;
	background-repeat: no-repeat;
    background-size: cover;
	background-image: url("../assets/sortBy2px.png");
	margin-right: 10px;
}

.hide {
	visibility: hidden;
	height: 0px;
}

.drop-down-item {
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	font-size: 15px;
	width: 135px;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 15px;
}


#list-title-container {
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	font-size: 15px;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #f2f2f2;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.drop-down-active {
	position: absolute;
	top: 52px;
	z-index: 10;
	align-self: flex-end;
	width: 150px;
	height: auto;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.drop-down-item:hover {
	background-color: #f9f9f9;
	cursor: pointer;
}

#list-title {
	margin-left: 40px;
}

canvas {
	position: relative; 
	width: 100%;
	height: auto;
	color: blue;
}

@media screen and (max-width: 800px) {
	.two-thirds {
		visibility: hidden;
		width: 0px;
		padding: 0 0 0 0;
	}
	.third {
		width: 100%;
	}
	.bottom-fixed {
		position: absolute; top: 600; left: 600;
		width: 100%;
		min-height: calc(100% - 600px);
		height: 500px;
	}
}