.bottom-fixed {
	position: absolute; top: 600; left: 600;
	width: 100%; 
	min-height: calc(100% - 600px);
	height: 600px;
	display: flex;
	flex-direction: row;
}

.third {
	background-color: #f9f9f9;
 	width: 33%;
 	height: 100%;
 	overflow: hidden;
 	overflow-y:auto
}

.two-thirds {
	padding-top: 40px;
	padding-left: 40px;
 	width: 66%;
 	font-family: 'Lato', sans-serif;
 	font-weight: lighter;
 	overflow: hidden;
}

#date {
	font-size: 12px;
	margin-bottom: 5px;
}

#main-link {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	margin-right: 40px;
	max-width: 90%;
	width: auto;
	border-bottom: 1px solid white;
}

.selected-link {
	background-color: white;
}

.linky:hover {
	color: #7c7c7c;
}

.one-line {
	margin-top: 14px;
	display: flex;
	flex-direction: row;
}

.copy-btn-active {
	width: 50px;
	height: 20px;
	color: #f4b504;
	border: 1px solid #f4b504;
	border-radius: 3px;
	font-size: 12px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 15px;
	transition: background-color 0.1s, border 0.1s, color 0.1s;
}

.copy-btn-active:hover {
	transition: background-color 0.1s, border 0.1s, color 0.1s;
	background-color: #f4b504;
	border: 1px solid #f4b504;
	color: white;
}

.copy-btn-not-active {
	visibility: hidden;
}

#clicks {
	margin-top: 15px;
	font-size: 12px;
}

.delete-btn-active {
	width: 80px;
	height: 30px;
	margin-top: 15px;
	border: 1px solid #182061;
	color: #182061;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 12px;
	transition: background-color 0.1s, border 0.1s, color 0.1s;
}

div.delete-btn-active:hover {
	transition: background-color 0.1s, border 0.1s, color 0.1s;
	background-color: #182061;
	border: 1px solid #182061;
	color: white;
}

.delete-btn-not-active {
	visibility: hidden;
}

@media screen and (max-width: 600px) {
	.two-thirds {
		visibility: hidden;
		width: 0px;
		padding: 0 0 0 0;
	}
	.third {
		width: 100%;
	}
	.bottom-fixed {
		position: absolute; top: 600; left: 600;
		width: 100%;
		min-height: calc(100% - 600px);
		height: 500px;
	}
}