.warning {
	height: 75px;
	width: 100%;
	z-index: 1;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	background-color: #ffdddd;
	animation: slide-down 0.5s ease;
}

.dismiss-btn {
	cursor: pointer;
	padding: 5px 5px 5px 5px;
	position: absolute;
	right: 25px;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}